data-format-specifications/property-specification-XML/property.xsd

<?xml version="1.1" encoding="UTF-8" ?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			CONVINCE Property Specification Language XML format specification.
		</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="properties" type="propertiesType"/>
	
	<xsd:complexType name="propertiesType">
		<xsd:all>
			<xsd:element name="ports" type="portsType"/>
			<xsd:element name="guarantees" type="propertyListType" minOccurs="0"/>
			<xsd:element name="assumes" type="propertyListType" minOccurs="0"/>
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="portsType">
		<xsd:sequence>
			<xsd:element name="scxml_event_send" type="eventSendType" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="eventSendType">
		<xsd:sequence>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="state_var" type="stateVarType" />
				<xsd:element name="event_var" type="eventVarType" />
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="event" type="xsd:IDREF" />
		<xsd:attribute name="origin" type="xsd:IDREF" />
		<xsd:attribute name="target" type="xsd:IDREF" />
	</xsd:complexType>

	<xsd:complexType name="varType">
		<xsd:choice>
			<xsd:element name="state_var" type="stateVarType" />
			<xsd:element name="event_var" type="eventVarType" />
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="stateVarType">
		<xsd:attribute name="id" type="xsd:ID" />
		<xsd:attribute name="param" type="xsd:IDREF" />
		<xsd:attribute name="type" type="xsd:IDREF" />
		<xsd:attribute name="expr" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="eventVarType">
		<xsd:attribute name="id" type="xsd:ID" />
	</xsd:complexType>

	<xsd:complexType name="propertyListType">
		<xsd:sequence>
			<xsd:element name="property" type="propertyType" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="propertyType">
		<xsd:attribute name="id" type="xsd:ID" />
		<xsd:attribute name="logic" type="logicType" />
		<xsd:attribute name="expr" type="xsd:string" />
	</xsd:complexType>

	<xsd:simpleType name="logicType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="pmtl"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
